/* login */
.login-container {
    max-width: 450px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.form-floating label {
    padding: 0.8rem 0.75rem;
}

.btn-login {
    background-color: #1f77c0c8;
    border: none;
    padding: 10px;
    font-weight: 600;
}
.divider {
    position: relative;
    text-align: center;
    margin: 20px 0;
}
.divider::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #ddd;
    z-index: -1;
}
.divider span {
    background-color: white;
    padding: 0 15px;
    color: #777;
}
.social-login .btn {
    width: 100%;
    margin-bottom: 10px;
}
.footer-links {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}
.footer-links a {
    color: #666;
    text-decoration: none;
}
